language: php

php:
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

script:
  - ./vendor/bin/phpcs --standard=PSR2 ./src/ ./tests/
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover

before_script:
  - composer self-update
  - composer update --prefer-source

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

install:
    - echo 'date.timezone = "Europe/Paris"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
