<?php
/*
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

return array(
    'customdoctrinehydrator' => array(
        'date'     => array(
            'date_format'     => 3, //IntlDateFormatter::SHORT
            'time_format'     => -1, //IntlDateFormatter::NONE
            'cal_format'      => 1, //IntlDateFormatter::GREGORIAN
            'four_chars_year' => true, //year format will be yyyy
            'two_chars_month' => true, //month format will be MM
        ),
        // @todo
        'datetime' => array(),
    ),
);
