<?php
/*
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

return array(
    'customdoctrinehydrator' => array(
        'date'     => array(
            //IntlDateFormatter::SHORT
            'date_format'      => 3,
            //IntlDateFormatter::NONE
            'time_format'      => -1,
            //IntlDateFormatter::GREGORIAN
            'cal_format'       => 1,
            //year format will be yyyy
            'four_digits_year' => true,
            //month format will be dd
            'two_digits_day'   => true,
            //month format will be MM
            'two_digits_month' => true,
        ),
        // @todo
        'datetime' => array(),
    ),
);
