<?php
/*
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

return [
    'mpacustomdoctrinehydrator' => [
        'formats'  => [
            'fr-FR' => [
                'date_format'    => 'd/m/Y',
                'time_format'    => 'H:i:s',
            ],
            'fr-CH' => [
                'date_format'    => 'd.m.Y',
                'time_format'    => 'H:i:s',
            ],
            'de-CH' => [
                'date_format'    => 'd.m.Y',
                'time_format'    => 'H:i:s',
            ],
            'de-DE' => [
                'date_format'    => 'd.m.Y',
                'time_format'    => 'H:i:s',
            ],
            'en-US' => [
                'date_format'    => 'd.m.Y',
                'time_format'    => 'H:i:s',
            ],
            'en-GB' => [
                'date_format'    => 'm/d/Y',
                'time_format'    => 'H:i:s',
            ],
        ],
    ],
];
